*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 550px;
    border-bottom: 15px solid #0a9007;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#66c2f3, #ffffff);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 110px;
    animation: pipe-animation 1.5s infinite linear;

}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 600px;
    animation: clouds-animation 15s infinite linear;
}

@keyframes pipe-animation {
   from{
    right: -15%;
   } 
   to{
    right: 100%;
   }

}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -600px;
    }
    to{
        right: 100%;
    }
}